<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header class="masthead mb-auto" layout:fragment="header">
	<div class="inner">
		<h3 class="masthead-brand">Spring-Boot</h3>
		<nav class="nav nav-masthead justify-content-center">
			<a class="nav-link" href="/" id="home">Home</a>
			<a class="nav-link" href="/thymeleaf" id="thymeleaf">Thymeleaf</a>
			<a class="nav-link" href="/oracle" id="oracle">Oracle</a>
		</nav>
	</div>
 </header>